.postImageContainer {
    height: 100vh;
    margin:0 auto;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.postImageContainer img {
    max-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

.postImage {
    z-index: 1;
}

.postInformation {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 1fr);
    width: 100%;
    align-items: center;
    text-align: center;
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(255,255,255,0) 100%);
    color: #F0F0F0;
    z-index: 1;
}

.postInformation a {
    text-decoration: none;
    color: inherit;
}

.postActionsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    position: relative;
}

.postActions {
    display: none;
    position:absolute;
    bottom: 3em;
    right: 0;
    width: 100%;
}

.postActions > * {
    background-color: #2F2F2F80;
}

.postInformation a:hover {
    text-decoration: underline;
}

.postTitle {
    display: none;
}

.postTitle, .postSubreddit {
    max-width: 300px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1em;
}

.postInformation ul {
    list-style: none;
}

.closeBtn {
    justify-self: stretch;
}

.closeTheWindow {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .postActions {
        grid-auto-flow: column;
        position: static;
        display: grid;
    }

    .postActions > * {
        background-color: transparent;
    }

    .postActionExpandBtn {
        display: none;
    }

    .postActionContainer {
        grid-template-columns: auto auto;
    }

    .postTitle {
        display: block;
    }
}